@font-face {
    font-family: 'Gilroy-Medium'; 
    src: url('../fontes/gilroy-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fontes/gilroy-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fontes/gilroy-regular.ttf') format('truetype');
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #17161B;
    overflow-x: hidden;
}

.destaque{
    background-image: url('../img/bg-home.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

header{
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    margin: 40px 50px 0px 50px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 40%);
}

div#menu > nav > ul{
    display: flex;
    list-style-type: none;
    gap: 48px;
}

div#menu > nav > ul > a{
    text-decoration: none;
    color: #FFFFFF;
}

div#menu > nav > ul > a:hover{
    color: rgba(255, 255, 255, 0.41);
    transition: color, 0.5s;
}

div#menu > nav > ul > a > li{
    font-family: 'Gilroy-Medium';
    font-size: 20px;
}

div#avatar:hover{
    cursor: pointer;
}

main{
    margin: 0px 50px;
}


.conteudo-destaque{
    padding-top: 69px;
    padding-bottom: 67px;
    color: #FFFFFF;
}

.conteudo-destaque p{
    font-family: 'Gilroy-Medium';
    font-size: 20px;
}

.conteudo-destaque h1{
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
    font-size: 80px;
    margin-top: 10px;

}

.conteudo-destaque h2{
    font-family: 'Gilroy-Medium';
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

#nota-imdb{
    display: flex;
    gap: 15px;
    font-family: 'Gilroy-Medium';
    font-size: 28px;
    padding-bottom: 30.25px;
}

button#play-destaque{
    display: flex;
    gap: 10px;
    background-color: transparent;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 15px;
}

button#play-destaque:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.065);
    transition: background-color, 0.5s;
}

main h2{
    font-family: 'Gilroy-Bold';
    font-size: 30px;
    color: #FFFFFF;  
    line-height: 35.16px;
}

.popullar-collections > ul{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    overflow: scroll;
    list-style-type: none;
}

.popullar-collections > ul::-webkit-scrollbar{
    width: 0px;
}

.popullar-collections > ul > li{
    padding: 2px;
    cursor: pointer;
}

.popullar-collections > ul > li > img:hover{
    outline: 2px solid rgba(255, 255, 255, 0.250);
    border-radius: 10px;
    transition: outline, 0.2s;
}

.group-popullar{
    display: flex;
    margin-top: 20px;
    gap: 20px;  
    overflow-x: scroll;
}

.group-popullar::-webkit-scrollbar{
    width: 0px;
}

.group-releases{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    overflow-x: scroll;
    padding: 2px;
}

.group-releases::-webkit-scrollbar{
    width: 0px;
}

.container-card{
    width: 338px;
    height: 280px;
}

div.container-card:hover{
    outline: 2px solid rgba(255, 255, 255, 0.250);
    border-radius: 10px;
    transition: outline, 0.2s;
}

.sub{
    width: 338px; /*338px com 20 padding left e right*/
    height: 98px; /*98 com 20 px top e bottom*/
    padding: 20px;
    background-color: rgb(0, 0, 0, 15%);
    backdrop-filter: blur(5px);
    position: sticky;
    transform: translate(0%, -104%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sub h3{
    font-family: 'Gilroy-Bold';
    color: #FFFFFF;
    font-size: 28px;  
    height: 24px;
    line-height: 32.81px;
    margin-bottom: 15px;
}

.sub p{
    font-family: 'Gilroy-Medium';
    color: #FFFFFF;
    font-size: 16px;
}

footer{
    background-color: #030328;
    width: 100vw;
    height: 60px;
}

footer p{
    color: #9E86FF;
    font-family: 'Gilroy-Regular';
    text-align: center;
    line-height: 60px;
}